.todo-list-item {
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    &.done {
        text-decoration: line-through;
    }
    &.important {
        font-weight: bold;
        color: #117a8b;
    }
    &__label {
       
    }
    &__actions {
        button {
            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }
}
